<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.security.spring_security.dao.RegistUserMapper">
    <insert id="adduser" parameterType="com.xyy.security.spring_security.entity.SysUser">
     insert into sys_user value(#{id},#{name},#{password});
    </insert>

</mapper>